export(RTree)
export(knn)
export(countWithinDistance)
export(withinDistance)
import(methods, Rcpp)
useDynLib(rtree, .registration = TRUE)
S3method(knn, RTree)
S3method(countWithinDistance, RTree)
S3method(withinDistance, RTree)
